FIREBASE_STORAGE_BUCKET="" # Firebase storage bucket of your Ruxailab project
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

FIREBASE_EMULATOR_HOST=localhost
STORAGE_EMULATOR_PORT=
FIRESTORE_EMULATOR_PORT=
FIREBASE_PROJECT_ID=
USE_EMULATORS=false  #true if running firebase emulators
